@import "./../mixins";

.banner {
  width: 100%;
  min-height: 300px;
  padding: 30px;
  justify-content: flex-end;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  z-index: 5;
  background: linear-gradient(267.04deg, #5F818C 4.86%, #98B8C0 96.66%);


  .info {
    z-index: 5;

    h1 {
      font-weight: 600;
      font-size: 30px;
      color: #ffffff;
    }

    h4 {
      font-weight: 400;
      font-size: 20px;
      color: #ffffff;
    }
  }

  .imageContainer {
    position: absolute;
    left: 30px;
    bottom: 0px;
    height: 115%;

    .image {
      height: 100%;
    }
  }
}

@media only screen and (max-width: 650px) {
  .banner {
    .imageContainer {
      display: none;
    }
  }
}